<% title "Hospital Search Results for #{params[:q]}" %>
<% description 'Listing of American Hospitals. Click to compare hospital costs in the US based on Center for Medicare data' %>
<% keywords "chargemaster rates, surgery costs, medicare rates, compare health costs, most expensive hospitals, compare hospital costs" %>

<% if @providers.empty? %>

<h1>Provider search results for "<%= params[:q] %>"</h1>

<div class="text-center">
<%= render "shared/ads970" %>
</div><br/>

<br/>
<p class="lead">Sorry, no results found for "<%= params[:q] %>"</p>

<% else %>

<h1><%= @providersCount %> Provider search results for "<%= params[:q] %>"
  <% if !@specialty_passed.nil? %> specializing in <%= @specialty_passed.name %> <% end %>
</h1>

<% if @providersCount > 50 %><p>The first 30 results are show below. Be more specific to narrow your results</p><% end %>
<p class="lead">Select a result below to see how much this hospital charges for common surgeries and procedures</p>

<div class="text-center">
<%= render "shared/ads970" %>
</div><br/>

<div class="row">
  <div class="span12">

<table id="sortTable" class="table table-hover">
<thead>
  <tr>
    <th data-placeholder="Type to search by name">Name</th>
    <th data-placeholder="Type to search by name">Specialty</th>
    <th data-placeholder="Type to search by name">Practice(s)</th>
    <th data-placeholder="Type to search by name">Hospital(s)</th>
  </tr>
</thead>
<tbody>
<% @providers.each do |provider| %>
  <tr>
    <td><i class="icon-user-md"></i> <%= link_to "#{provider.first_name.capitalize} #{provider.last_name.titleize}", provider %></td>
    <td><% provider.specialties.each do |spec| %>
        <%= spec.name.titleize %><br/>
      <% end %></td>
    <td><% provider.organizations.each do |org| %>
        <%= link_to(org.name.titleize,org) %><br/>
      <% end %></td>
    <td><% provider.hospitals.each do |hosp| %>
        <%= link_to(hosp.name.titleize,hosp) %><br/>
      <% end %></td>
  </tr>
<% end %>
</tbody>
</table>

  </div>

</div>

<script type="text/javascript">

$(document).ready(function() {

  // call the tablesorter plugin and apply the uitheme widget
  $("#sortTable").tablesorter({
    // this will apply the bootstrap theme if "uitheme" widget is included
    // the widgetOptions.uitheme is no longer required to be set
    //theme : "bootstrap",

    widthFixed: true,

    headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!

    // widget code contained in the jquery.tablesorter.widgets.js file
    // use the zebra stripe widget if you plan on hiding any rows (filter widget)
    //widgets : [ "uitheme", "filter", "zebra" ],

    widgetOptions : {
      // using the default zebra striping class name, so it actually isn't included in the theme variable above
      // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
      zebra : ["even", "odd"],

      // reset filters button
      filter_reset : ".reset"

      // set the uitheme widget to use the bootstrap theme class names
      // this is no longer required, if theme is set
      // ,uitheme : "bootstrap"

    }
  })
});

  </script> 

<br/>

<% end %>
