<% title "Medical and surgery costs for "+@provider_name %>
<% description @provider_name+' medical costs and medicare payments. Inpatient and outpatient procedure costs. Compare hospital costs in the US' %>

<br/>
<div class="text-center">
<%= render "shared/ads970" %>
</div>

<div class="row">
  <div class="span8">
    <h1><%= @provider_name %></h1>

    <p><%= @provider_name %> is a member of <%= @provider.organizations.count %> practices</p>    

    <div class="row">
      <div class="span4">
        <% @provider.organizations.each do |org| %>
          <p><%= org.uc_name %></p>
          <p><% org.addresses.each do |addr| %>
            <%= addr.address1 %>
            <%= addr.address2 %>
            <%= addr.city %>, <%= State.find(addr.state_id).abbrev %> <%= addr.zipcode %><br/>
            <a target="_blank" href="https://maps.google.com/maps?daddr=<%= CGI::escape(addr.address1) %>+<%= addr.city %>+<%= State.find(addr.state_id).abbrev %>&hl=en&mra=ls&t=m&z=11">Get Directions</a></p>
          <% end %>
        <% end %>

      </div>
    </div>
    <br/>

    <div class="row">
      <div class="span4">

        <%= link_to "Discuss #{@provider_name} Costs", provider_path(@provider, :anchor => 'discuss') %><br/>
        <%= render "shared/share" %>

      </div>
    </div>

  </div>
  <div class="span4">
    <br/><div id="map-canvas"></div>
  </div>
</div>

<p><b>Specialties</b><br/>
<% @provider.specialties.each do |spec| %>
	<%= spec.name %>
<% end %>
</p>

<p><b>Hospitals</b><br/>
<% @provider.hospitals.each do |hosp| %>
	<%= hosp.name %>
<% end %>
</p>

<p><b>Costs</b>


<table id="sortTable" class="table table-striped table-hover table-bordered">
<thead>
  <th>Services Description</th>
  <th><a href="#" class="link" rel="tooltip" data-original-title="Number of services provided by this physician; note that the metrics used to count the number provided can vary from service to service.">Times Provided</a></th>

  <!--<th><a href="#" class="link" rel="tooltip" data-original-title="Number of distinct Medicare beneficiaries receiving the service.">Beneficiaries</a></th>

  <th><a href="#" class="link" rel="tooltip" data-original-title="Number of distinct Medicare beneficiary/per day services. Since a given beneficiary may receive multiple services of the same type (e.g., single vs. multiple cardiac stents) on a single day, this metric removes double-counting from the line service count to identify whether a unique service occurred.">Beneficiaries per day</a></th>-->

  <th><a href="#" class="link" rel="tooltip" data-original-title="Average of the Medicare allowed amount for the service; this figure is the sum of the amount Medicare pays, the deductible and coinsurance amounts that the beneficiary is responsible for paying, and any amounts that a third party is responsible for paying.">Medicare Avg. Amt.</a></th>

  <th><a href="#" class="link" rel="tooltip" data-original-title="Average of the charges that the provider submitted for the service.">Average Charge</a></th>

  <th><a href="#" class="link" rel="tooltip" data-original-title="average_Medicare_payment_amt – Average amount that Medicare paid after deductible and coinsurance amounts have been deducted for the line item service.">Avg Medicare Payment</a></th>

  <th><a href="#" class="link" rel="tooltip" data-original-title="">Percentage of Average</a></th>


number_to_percentage(((@cost.average_covered_charges*100)/@cost.average_total_payments), :precision => 0)

</thead>
<tbody>
<% @provider.providers_costs.each do |cost| %>
	<tr>
		<td><%= cost.hcpcs.description %></td>
		<td><%= cost.line_srvc_cnt %></td>
		<!--<td><%= cost.bene_unique_cnt %></td>
		<td><%= cost.bene_day_srvc_cnt %></td>-->
		<td>$<%= cost.average_Medicare_allowed_amt %></td>
		<td>$<%= cost.average_submitted_chrg_amt %></td>
		<td>$<%= cost.average_Medicare_payment_amt %></td>
    <td><%= number_to_percentage((( cost.average_submitted_chrg_amt.to_f / cost.average_Medicare_payment_amt.to_f)*100), :precision => 0)%></td>
	</tr>
<% end %>
	</tbody>
	</table>
</p>

<div class="text-center">
<%= render "shared/ads970" %>
</div>


<script type="text/javascript">

$(document).ready(function() {

  $(function () {
    $("[rel='tooltip']").tooltip();
    $("a.link").click(function() {
      return false;
    });
  });

  initialize_map();

});

<%= render "shared/maps_for_orgs" %>

</script> 

