<% title "Physician costs for "+@hcpcs.uc_description+" HCPCS code "+@hcpcs.id %>

<h1><%= @thetitle %></h1>

<div class='row'>
  <div class="span9">
  </div>
  <div class="span3">
    <br/>
    <p><a href="#discuss" class="btn btn-small btn-primary">Discuss <%= @hcpcs.uc_description %></a></p>
    <p><a href="#icd10s" class="btn btn-small btn-primary">View all ICD10 Diagnoses for this Pricing Group</a></p>
    <p><a href="/drgs/" class="btn btn-small btn-primary">Back to Diagnosis List</a></p>
  </div>
</div>



<%= @hcpcs.uc_description %>

<div clas="row"><div class="span10 text-center" >
<%= render "shared/ads970" %><br/>
</div></div>
<br/>

<div class="span2">
<%= render "shared/ads160" %><br/><br/>
<%= render "shared/ads160" %><br/><br/>
<%= render "shared/ads160" %>
</div>

</div>
