<%= form_for(@drg) do |f| %>
  <% if @drg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drg.errors.count, "error") %> prohibited this drg from being saved:</h2>

      <ul>
      <% @drg.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.number_field :code %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
