<% title "Inpatient Diagnosis and Surgery Procedure List - see what hospital has the lowest cost" %>
<% description 'CMS.gov released medical billing data for the top 100 Medical Diagnosis and Surgery Procedures. This list of inpatient procedures below can be reviewed to see how much different U.S. hospitals charged for these surgeries. Click to compare hospital costs in the United States' %>
<% keywords "inpatient surgeries, chargemaster rates, medicare rates, compare health costs, least expensive surgeries, most expensive hospitals" %>

<h1>National Hospital Costs for Inpatient Surgeries and Procedures</h1>

<p>The <a href="http://www.cms.gov/" target="_blank">Centers for Medicare and Medicaid Services</a> released hospital billing data for the top 100 Surgeries and Procedures of 2011. Click a diagnosis group from the list below to compare what different U.S. hospitals billed for these surgeries and procedures compared to what Medicare reimbursed. These diagnoses groups are vast, so you can also search the individual diagnoses that often accompany them with the following form:</p>

<div>
    <i class="icon-search" style="color:#ffffff;top:-12px;position:relative;"></i> 
    <span class="input-append">
    <%= form_tag("/icd10s/search", :method => :post) do %>
    <%= text_field_tag :q, nil, :class => "input-large" %>
    <%= submit_tag "Search individual diagnoses by name", :class => "btn btn-primary"  %>
    <% end %>
    </span>
</div>

<div class="text-center">
<%= render "shared/ads970" %>
</div>

<div class="row">
  <div class="span10">

<table id="sortTable" class="table table-striped table-border table-hover">
<thead>
  <tr>
    <th><nobr>DRG Code</nor></th>
    <th data-placeholder="Type to search procedures">Surgery, Procedure or Diagnosis Related Group (DRG) Description</th>
  </tr>
</thead>
<% @drgs.each do |drg| %>
  <tr>
    <td><%= link_to "DRG #{drg.code}", drg %></td>
    <td><%= link_to drg.uc_description, drg %></td>
  </tr>
<% end %>
</table>

</div>

<div class="span2">
  <script type="text/javascript"><!--
google_ad_client = "ca-pub-0066874388719652";
/* 160vertical */
google_ad_slot = "5403926082";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

</div>
