<h4>DRG <%= @drg.code %> - <%= @drg.description %></h4>

<p>Average covered charges over <%= @costs.count %> hospitals: <%= number_to_currency(@average_covered_charges, :unit => "$") %></p>
<p>Average total payments over <%= @costs.count %> hospitals: <%= number_to_currency(@average_total_payments, :unit => "$") %></p>

<table id="costTable" class="table table-striped table-border table-hover" style="height:200px;overflow:scroll;">
<thead>
  <tr>
    <th>Hospital</th>
    <th>Avg. Covered Charges</th>
    <th>Avg. Total Payments</th>
  </tr>
</thead>
<tbody>
<% @costs.each do |cost| %>
  <tr>
    <td><%= link_to cost.hospital.name, cost.hospital %></td>
    <td><%= number_to_currency(cost.average_covered_charges, :unit => "$") %></td>
    <td><%= number_to_currency(cost.average_total_payments, :unit => "$") %></td>
  </tr>
<% end %>
</tbody>
</table>

<!-- pager -->
<div id="pager" class="pager form-horizontal">
				<button class="btn first"><i class="icon-step-backward"></i></button>
				<button class="btn prev"><i class="icon-arrow-left"></i></button>
				<span class="pagedisplay"></span> <!-- this can be any element, including an input -->
				<button class="btn next"><i class="icon-arrow-right"></i></button>
				<button class="btn last"><i class="icon-step-forward"></i></button>
				<select class="pagesize input-mini" title="Select page size">
					<option selected="selected" value="10">10</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
				</select>
				<select class="pagenum input-mini" title="Select page number"></select>
			</div>

<%= link_to 'Back', drgs_path %>

<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Hospital',<% @costs.each do |cost| %>'<%= cost.hospital.name %>',<% end %>],
          [1,<% @costs.each do |cost| %><%= cost.average_total_payments %>,<% end %>]
        ]);

        var options = {
          title: 'Company Performance',
          hAxis: {title: 'Year', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        //chart.draw(data, options);
      }
    </script>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>


<script>
$(document).ready(function() { 
//        $("#costTable").tablesorter().tablesorterPager({container: $("#pager")}); ; 

		$("#costTable")
			.tablesorter({widthFixed: true, widgets: ['zebra']})
			.tablesorterPager({container: $("#pager")});


}); 
</script>
