<div class='row'>
  <div class="span9">
    <h3>DRG <%= @drg.code %> - <%= @drg.uc_description %></h3>
    <p class="lead"><%= @costs.count %> hospitals reported data on this DRG in 2011. Average covered charges was <%= number_to_currency(@average_covered_charges, :unit => "$") %> and average total payments was <%= number_to_currency(@average_total_payments, :unit => "$") %>. Highest charge <%= number_to_currency(@costs.first.average_covered_charges, :unit => "$") %></p>
  </div>
  <div class="span3">
    <br/>
    <p><a href="#discuss" class="btn btn-small btn-primary">Discuss this DRG</a></p>
    <p><a href="#definitions" class="btn btn-small btn-primary">Data source and definitions</a></p>
    <p><a href="http://www.cms.gov/icd10manual/version30-fullcode-cms/P0002.html" target="_blank" class="btn btn-small btn-primary">Information about DRGs</a></p>

  </div>
</div>


<table id="sortTable" class="table table-striped table-border table-hover" style="height:200px;overflow:scroll;">
<thead>
  <tr>
    <th>Hospital</th>
    <th>Discharges</th>
    <th><a href="#" class="link" rel="tooltip" data-original-title="Average amount hospital charged for this DRG in 2011 over total discharges">Average Covered Charge</a></th>
    <th><a href="#" class="link" rel="tooltip" data-original-title="Average amount Medicare paid the hospital for the procedure">Average Total Payment</a></th>

  </tr>
</thead>
<tbody>
<% @costs.each do |cost| %>
  <tr>
    <td><%= link_to cost.hospital.uc_name+", "+cost.hospital.city.capitalize+", "+cost.hospital.state, cost.hospital %></td>
    <td><%= cost.total_discharges %></td>
    <td><%= number_to_currency(cost.average_covered_charges, :unit => "$") %></td>
    <td><%= number_to_currency(cost.average_total_payments, :unit => "$") %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= render "shared/pager" %>

<h3>Discuss <%= @drg.uc_description %></h3>
<%= render "shared/disqus" %>

<%= render "shared/definitions" %>

<script>
$(document).ready(function() { 
		$("#costTable")
			.tablesorter({widthFixed: true, widgets: ['zebra']})
			.tablesorterPager({container: $("#pager")});

    $('.link').tooltip();
    $(".link").click(function() {
      return false;
    });

});
</script> 
