<%= form_for(@cost) do |f| %>
  <% if @cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cost.errors.count, "error") %> prohibited this cost from being saved:</h2>

      <ul>
      <% @cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :drg_code %><br />
    <%= f.number_field :drg_code %>
  </div>
  <div class="field">
    <%= f.label :hospital_ext_id %><br />
    <%= f.number_field :hospital_ext_id %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :total_discharges %><br />
    <%= f.number_field :total_discharges %>
  </div>
  <div class="field">
    <%= f.label :average_total_payment %><br />
    <%= f.number_field :average_total_payment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
