<% title @hospital.uc_name+"'s medical costs for "+@apc.uc_description %>
<% description @hospital.uc_name+' surgery costs and medicare payments. Compare hospital costs in the US' %>
<% keywords @hospital.uc_name+' hospital costs,'+@hospital.city.capitalize+' '+@hospital.state+','+"surgery costs, chargemaster rates, medicare rates, compare health costs, most expensive hospitals, care prices, medical billing costs, " %>

<h1><%= link_to @hospital.uc_name, "http://www.google.com/search?q="+@hospital.name+"&btnI", :target => "_blank" %>'s 2011 costs for <%= @apc.uc_description %></h1>


<div class="row">
  <div class="span5">
  	<b>APC code:</b> <%= @apc_cost.apc_code %><br/>
    <p><%= @hospital.uc_address %></br><%= @hospital.city.capitalize %>, <%= @hospital.state %> <%= @hospital.zipcode %></p>
    <p><b>Region:</b> : <%= @hospital.referral_region %></p>

<%= render "shared/share" %>

  </div>
  <div class="span7">
    <br/><div id="map-canvas" style="height:200px;"></div>
  </div>
</div>
<br/>
<div class="text-center">
<%= render "shared/ads970" %>
</div><br/>

<table class="table table-striped table-bordered">
	<tr>
		<td><b>Diagnosis (apc) Description</td>
		<td><%= link_to @apc_cost.apc.uc_description, @apc_cost.apc %></td>
	</tr><tr>
		<td><b>Total 2011 Cases</b></td>
		<td><%= @apc_cost.outpatient_services %></td>
	</tr><tr>
		<td><b>Average amount <%= @hospital.uc_name %> charged for this procedure in 2011 over total discharges</b></td>
		<td><%= number_to_currency(@apc_cost.average_estimated_submitted_charges, :unit => "$") %></td>
	</tr><tr>
		<td><b>Average amount Medicare paid <%= @hospital.uc_name %> for <%= @apc_cost.apc.uc_description %></b></td>
		<td><%= number_to_currency(@apc_cost.average_total_payments, :unit => "$") %></td>
	</tr><tr>
		<td><b>Difference between what <%= @hospital.uc_name %> charged and Medicare reimbursed the hospital for the procedure</b/></td>
		<td><%= number_to_currency((@apc_cost.average_estimated_submitted_charges - @apc_cost.average_total_payments), :unit => '$') %></td>
	</tr><tr>
  	<td><b>Hospital's Markup:</b></td>
  	<td><%= number_to_percentage(((@apc_cost.average_estimated_submitted_charges*100)/@apc_cost.average_total_payments), :precision => 0) %></td>
  </tr><tr>
  	<td><b>Average amount nationally charged for <%= @apc_cost.apc.uc_description %> in 2011 over all cases</b></td>
  	<td><%= number_to_currency(@apc_cost.apc.avg_estimated_submitted_charges, :unit => "$") %></td>
  </tr><tr>
  	<td><b>Medicare's National Average Total Reimbursement</b></td>
  	<td><%= number_to_currency(@apc_cost.apc.avg_total_payments, :unit => "$") %></td>
  </tr><tr>
		<td><b>Hospital's charge compared to the national average</b></td>
		<td><%= number_to_percentage((((@apc_cost.average_estimated_submitted_charges-@apc_cost.apc.avg_estimated_submitted_charges)*100).abs/@apc_cost.apc.avg_estimated_submitted_charges), :precision => 0) %><% if ((@apc_cost.average_estimated_submitted_charges-@apc_cost.apc.avg_estimated_submitted_charges)*100/@apc_cost.apc.avg_estimated_submitted_charges) > 0 %> higher <% else %> lower <% end %></td>
	</tr><tr>
	  <td><b>Hospital's Rank for this diagnosis</b></td>
	  <td><%= @apc_cost.position %> out of <%= @apc_cost.count %> reported procedures</td>
	</tr><tr>
	  <td><b>Percent of hospitals that are more expensive</b></td>
	  <td><%= number_to_percentage(@apc_cost.percentile*100, :precision => 0) %></td>
	</tr>

</table>

<script type="text/javascript">

$(document).ready(function() {

  loadMaps();

});

function loadMaps() {
  google.load("maps", "3", {other_params:'sensor=false', "callback" : initialize});
  var map;
  google.maps.visualRefresh = true;
}

function initialize() {
  var myLatLng = new google.maps.LatLng(<%= @hospital.latitude %>, <%= @hospital.longitude %>);
  var mapOptions = {
    zoom: 16,
    center: myLatLng,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    panControl: true,
    streetViewControl: true,
    overviewMapControl: true
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
  var marker = new google.maps.Marker({
      position: myLatLng,
      map: map
  });
}

</script> 