
<% title "United States Hospital Listings for Medical Procedues and Surgery Costs and Prices" %>
<% description 'Listing of American Hospitals - compare their surgery costs. Show what medicare paid for hospital bills and see how your local hospital compares by rank and percentile.' %>
<% keywords "health cover compare, chargemaster rates, billing advocate, advocate billing, doctors billing, care prices, medicare billing, surgery costs, costs of healthcare, care prices, compare health costs, most expensive hospitals, low cost hospital, healthcare costs, health care costs, surgery" %>

<div id="hero-pad"></div>
<div class="hero-unit">

<div class="row">

    <div class="span8">

  <h1>Compare Surgery Costs at U.S. Hospitals</h1>

<p><%= link_to "CMS", "http://www.cms.gov/", :target => "blank" %> provides <%= link_to "data", "http://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/index.html", :target => "blank" %> that shows what U.S. Hospitals billed Medicare for top diagnoses and surgery procedures and what Medicare actually reimbursed them. The numbers vary dramatically.</p>
<p>Use the forms below to drill down through the data to see how your local <a href="/hospitals/">Hospital</a> compares.</p>

      <i class="icon-search" style="color:#ffffff;top:-12px;position:relative;"></i> 
      <span class="input-append">
      <%= form_tag("/search", :method => :post) do %>
      <%= text_field_tag :q, nil, :class => "input-large", :placeholder => "enter a hospital name to" %>
      <%= submit_tag "Search Hospitals by name", :class => "btn btn-primary"  %>
      <% end %>
      </span><br/>

      <i class="icon-search" style="color:#ffffff;top:-12px;position:relative;"></i> 
      <span class="input-append">
      <%= form_tag("/icd10s/search", :method => :post) do %>
      <%= text_field_tag :q, nil, :class => "input-large", :placeholder => "enter a diagnosis to" %>
      <%= submit_tag "Search Diagoses by name", :class => "btn btn-primary"  %>
      <% end %>
      </span><br/>

      <nobr><i class="icon-map-marker" style="color:#ffffff;top:-12px;position:relative;"></i> 
      <span class="input-append" style="padding-left:8px;">
      <%= form_tag("/geolocate", :method => :post) do %>
      <%= text_field_tag :q, nil, :class => "input-large", :placeholder => "enter an address to" %>
      <%= submit_tag "Find hospitals near you", :class => "btn btn-primary"  %>
      <% end %>
      </span></nobr><br/>
    </div>

    <div class="span3 text-right">
      <%= image_tag "homepage_logo.png" %>
    </div>

  </div>

</div>

<div class="row">
  <div class="span4">
  <a class="twitter-timeline" href="https://twitter.com/HospitalCosts" data-widget-id="429087868024131585">Tweets by @HospitalCosts</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div class="span4 text-center">
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=393409785298";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like-box" data-href="http://www.facebook.com/hospitalcostcompare" data-height="400" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>
  </div>
  <div class="span4">

    <%= render "shared/ads336" %>

    <br/>
    <p>Search <a href='/hospitals'>over 3000 U.S. hosptals</a> by region and drill down into the diagnosis costs. Search <a href="/drgs/">inpatient procedures</a> or <a href="/apcs/">outpatient procedures</a> to compare costs across hospitals.</p>

  </div>

</div>


