
<% title "United States Hospital Listings for Medical Procedues and Surgery Prices" %>
<% description 'Listing of American Hospitals - compare their surgery costs. Show what medicare paid for hospital bills and see how your local hospital compares by rank and percentile.' %>
<% keywords "health cover compare, chargemaster rates, billing advocate, advocate billing, doctors billing, care prices, medicare billing, surgery costs, costs of healthcare, care prices, compare health costs, most expensive hospitals, low cost hospital, healthcare costs, health care costs, surgery" %>

<div id="hero-pad"></div>
<div class="hero-unit">
  <h1 class="text-center">Compare Surgery Costs in U.S. Hospitals</h1>
  <p class="lead text-center">Find the lowest cost hospitals U.S. Hospitals</p>
<p class="lead text-center"><i class="icon-map-marker"></i> Select a U.S. State to view their hospitals:
  <select id="stateList">
    <option value="">Pick a State</option>
    <% @states.each do |state| %>
    <option value="/state/<%= state.abbrev %>"><%= state.name.capitalize %></option> 
    <% end %>
  </select>
  OR ..<br/>
  <i class="icon-map-marker"></i> Select a U.S. Region to view their hospitals:
  <select id="regionList">
    <option value="">Pick a region</option>
    <% @regions.each do |region| %>
    <option value="/region/<%= region[0] %>"><%= region[0] %> (<%= region[1] %> hospitals)</option> 
    <% end %>
  </select>
</p>

</div>

 <p>May 8, 2013, the Centers for Medicare and Medicade <%= link_to "released data", "http://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/index.html", :target => "blank" %> showing what over 3000 U.S. Hospitals billed Medicare for the top 100 Inpatient Diagnoses and Surgery Procedures (<%= link_to "DRGs", "http://en.wikipedia.org/wiki/Diagnosis-related_group", :target=>"blank" %>) along with what Medicare actually reimbursed. A few weeks later they released data on 30 popular outpatient procedures (based on <a href="http://en.wikipedia.org/wiki/Ambulatory_Payment_Classification" target="_blank">APCs</a>). This data shows wildly different rates for the same surgeries and procedures. HopsitalCostCompare.com allows you to easily drill down through the all of the data by hospital or surgery/procedure to see how your local <a href="/hospitals/">Hospital</a> compares.  You can also see how much the same medical diagnoses are billed around the country.</p>

<p>Search <a href='/hospitals'>over 3000 U.S. hosptals</a> by region and drill down into the diagnosis costs. Search <a href="/drgs/">inpatient procedures</a> or <a href="/apcs/">outpatient procedures</a> to compare costs across hospitals.</p>
