<% title "United States Hospital Listing for Surgery Prices" %>
<% description 'Listing of American Hospitals and compare their surgery costs. Click to compare hospital billing costs in the US' %>
<% keywords "chargemaster rates, medicare billing, surgery costs, costs of healthcare, care prices, compare health costs, most expensive hospitals" %>

<h1>Hospital Listings for Surgery Cost Comparisons</h1>
<p class="lead">The <a href="http://www.cms.gov/" target="_blank">Centers for Medicare and Medicaid Services</a> released Hospital billing data for the top 100 Medical Diagnosis Related Groups (DRGs) in 2011 for more than 3000 U.S. Hospitals. View these surgery costs by searching for Hospital below (by region or state). You can also view <a href="/region/all/">all U.S. Hospitals in one list</a>.</p>

<hr/>

<p class="lead text-center"><i class="icon-map-marker"></i> Select a U.S. State to view their hospitals:
  <select id="stateList">
    <option value="">Please choose..</option>
    <% @states.each do |state| %>
    <option value="/state/<%= state.abbrev %>"><%= state.name.capitalize %></option> 
    <% end %>
  </select>
  <br/>OR<br/>
  <i class="icon-map-marker"></i> Select a U.S. Region to view their hospitals:
  <select id="regionList">
    <option value="">Please choose..</option>
    <% @regions.each do |region| %>
    <option value="/region/<%= region[0] %>"><%= region[0] %> (<%= region[1] %> hospitals)</option> 
    <% end %>
  </select>
</p>

<hr/>

<div class="text-center">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0066874388719652";
/* hcc970 */
google_ad_slot = "8636594082";
google_ad_width = 970;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
