<h1>Hospitals Listing</h1>

<table id="hospitalTable" class="table table-striped table-bordered table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Region</th>
  </tr>
</thead>
<tbody>
<% @hospitals.each do |hospital| %>
  <tr>
    <td><i class="icon-h-sign"></i> <%= link_to hospital.name, hospital %></td>
    <td><%= hospital.address %>, <%= hospital.city %>, <%= hospital.state %> <%= hospital.zipcode %></td>
    <td><%= hospital.referral_region %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= render "shared/pager" %>

<script>
$(document).ready(function() { 
    $("#hospitalTable")
      .tablesorter({widthFixed: true, widgets: ['zebra']})
      .tablesorterPager({container: $("#pager")});
}); 
</script>
