<h1>Hospitals Listing</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Region</th>
  </tr>

<% @hospitals.each do |hospital| %>
  <tr>
    <td><%= link_to hospital.name, hospital %></td>
    <td><%= hospital.address %>, <%= hospital.city %>, <%= hospital.state %> <%= hospital.zipcode %></td>
    <td><%= hospital.referral_region %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @hospitals %>
<br />

<%= link_to 'New Hospital', new_hospital_path %>
