<% title "United States Hospital Listing for Surgery Prices" %>
<% description 'Listing of American Hospitals and compare their surgery costs. Click to compare hospital billing costs in the US' %>
<% keywords "chargemaster rates, medicare billing, surgery costs, costs of healthcare, care prices, compare health costs, most expensive hospitals" %>

<h1>Hospital Listings for Surgery Cost Comparisons</h1>
<p class="lead">View U.S. hospital surgery and procedure costs by searching for Hospitals below</p>

<div class="text-center">
<%= render "shared/ads970" %><br/><br/>
</div>

<div class="row">
  <div class="span6">

    <p class="text-center"><strong>Search by name or address</strong><br/></p>

    <div class="text-center lead" style="margin:0;">
    <i class="icon-search" style="color:#ffffff;top:-12px;position:relative;"></i> 
    <span class="input-append">
<%= form_for :hospital do |f| %>
<%=  f.autocomplete_field :hospital_name, autocomplete_hospital_name_hospitals_path, :id_element => '#hospital_id' %>
    <% end %>
    </span>
    </div>

<script>
$('#hospital_hospital_name').bind('railsAutocomplete.select', function(event, data){
  /* Do something here */
  alert('asdf');
  //alert(data.item.id);
});
</script>

    <div class="text-center lead" style="margin:0;">
    <i class="icon-search" style="color:#ffffff;top:-12px;position:relative;"></i> 
    <span class="input-append">
    <%= form_tag("/search", :method => :post) do %>
    <%= text_field_tag :q, nil, :class => "input-large" %>
    <%= submit_tag "Search hospitals by name", :class => "btn btn-primary"  %>
    <% end %>
    </span>
    </div>

    <div class="text-center lead">
    <i class="icon-map-marker" style="color:#ffffff;top:-12px;position:relative;"></i> 
    <span class="input-append">
    <%= form_tag("/geolocate", :method => :post) do %>
    <%= text_field_tag :q, nil, :class => "input-large", :placeholder => "enter an address to" %>
    <%= submit_tag "Find hospitals near you", :class => "btn btn-primary"  %>
    <% end %>
    </span>
    </div>

  </div>
  <div class="span6">

    <p class="text-center"><strong>View by geography</strong><br/></p>

    <p class="text-center"><i class="icon-map-marker"></i> Select a U.S. State:
    <select id="stateList">
    <option value="">Please choose..</option>
    <% @states.each do |state| %>
    <option value="/state/<%= state.abbrev %>"><%= state.name.capitalize %></option> 
    <% end %>
    </select>
    <br/>OR<br/>
    <i class="icon-map-marker"></i> Select a U.S. region:
    <select id="regionList">
    <option value="">Please choose..</option>
    <% @regions.each do |region| %>
    <option value="/region/<%= region[0] %>"><%= region[0] %> (<%= region[1] %> hospitals)</option> 
    <% end %>
    </select>
    </p>
  </div>
</div>
<hr/>

