<% title "Medical and surgery costs at "+@hospital.uc_name+", "+@hospital.city.capitalize+", "+@hospital.state %>
<% description @hospital.uc_name+' surgery costs and medicare payments. Inpatient and outpatient procedure costs. Compare hospital costs in the US' %>
<% keywords @hospital.uc_name+' hospital costs,'+@hospital.city.capitalize+' '+@hospital.state+','+"surgery costs, inpatient rates, outpatient rates, chargemaster rates, medicare rates, compare health costs, most expensive hospitals, care prices, medical billing costs, " %>

<% page_title = "Practices associated with " %>
<%= render "shared/hospitals/header", :page_title => page_title  %>

<div class="text-center">
<%= render "shared/ads970" %>
</div>

<br/>
<div class="row">
<div class="span10">

<table id="sortTable" class="table table-striped table-hover table-bordered">
<thead>
  <th class="organizations">Practice Name</th>
  <th class="credential">Addresses</th>
</thead>
<tbody>
<% @organizations.each do |org| %>
<tr>
  <td><%= link_to org.name.capitalize, org %></td>
  <td><% org.addresses.each do |addr| %>
        <%=  addr.id %><br/>
      <% end %></td>
</tr>
<% end %>
</tbody>
</table>

<%= render "shared/pager" %>

</div>
<div class="span2">
<%= render "shared/ads160" %>
</div>
</div>

<div class="text-center">
<%= render "shared/ads970" %>
</div>


<script type="text/javascript">

$(document).ready(function() {

    //$(document).tooltip();

    //alert($(".erx").;
    $(".erx").tooltip();
    $("[rel=tooltip]").tooltip();
    $("a.link").click(function() {
      return false;
    });

});

$(document).ready(function() {
  // call the tablesorter plugin and apply the uitheme widget
  $("#sortTable")
  .tablesorter({
    // this will apply the bootstrap theme if "uitheme" widget is included
    // the widgetOptions.uitheme is no longer required to be set
    theme : "bootstrap",

    widthFixed: true,


    headers: {
      // disable sorting of the first & second column - before we would have to had made two entries
      // note that "first-name" is a class on the span INSIDE the first column th cell
      '.medicare, .erx, .credential, .gender, .ehr, .pqrs' : {
        // disable it by setting the property sorter to false
        sorter: false
    }},

    headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!

    // widget code contained in the jquery.tablesorter.widgets.js file
    // use the zebra stripe widget if you plan on hiding any rows (filter widget)
    widgets : [ "uitheme", "filter", "zebra" ],

    widgetOptions : {
      // using the default zebra striping class name, so it actually isn't included in the theme variable above
      // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
      zebra : ["even", "odd"],

      // reset filters button
      filter_reset : ".reset"

      // set the uitheme widget to use the bootstrap theme class names
      // this is no longer required, if theme is set
      // ,uitheme : "bootstrap"

    }
  }).tablesorterPager({

    // target the pager markup - see the HTML block below
    container: $(".pager"),

    size: 15,

    // target the pager page select dropdown - choose a page
    cssGoto  : ".pagenum",

    // remove rows from the table to speed up the sort of large tables.
    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
    removeRows: false,

    // output string - default is '{page}/{totalPages}';
    // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'

  });
});


</script> 