<% title "Medical and surgery costs at "+@hospital.uc_name+", "+@hospital.city.capitalize+", "+@hospital.state %>
<% description @hospital.uc_name+' surgery costs and medicare payments. Inpatient and outpatient procedure costs. Compare hospital costs in the US' %>
<% keywords @hospital.uc_name+' hospital costs,'+@hospital.city.capitalize+' '+@hospital.state+','+"surgery costs, inpatient rates, outpatient rates, chargemaster rates, medicare rates, compare health costs, most expensive hospitals, care prices, medical billing costs, " %>

<% page_title = "Physicians at" %>
<%= render "shared/hospitals/header", :page_title => page_title  %>

<div class="text-center">
<%= render "shared/ads970" %>
</div>

<br/>
<div class="row">
<div class="span10">
<table id="sortTable2" class="table table-striped table-hover table-bordered">
<thead>
  <th data-placeholder="Type to search procedures">Diagnosis or Procedure Description</th>
  <th><a href="#" class="link" rel="tooltip" data-original-title="Average amount hospital charged for this diagnoses/procedure in 2011 over total discharges">Hospital's Average Medical Billing for the Procedure</a></th>
  <th><a href="#" class="link" rel="tooltip" data-original-title="Difference between what this hospital charged and Medicare paid the hospital for the procedure">Hospital's Charge vs. Medicare Reimbursement Difference<!--<br/>(% Markup)--></a></th>
  <th><a href="#" class="link" rel="tooltip" data-original-title="Average amount nationally charged for this DRG in 2011 over total discharges">National Average Covered Charge for Procedure</a></th>
  <!--<th><a href="#" class="link" rel="tooltip" data-original-title="Percentage this Hospital charged for the procedure above or below the national average">Hospital's charge compared to the national average</a></th>-->
  <th><a href="#" class="link" rel="tooltip" data-original-title="How many hospitals are more expensive for this diagnosis or procedure">Hospital's Rank for this diagnosis <!--(Percent of hospitals that are more expensive)--></a></th>
  <th>Details</th>
</thead>
<tbody>
<% @hospital_physicians.each do |physician| %>
<tr>
  <td><%= link_to physician.last_name, physician %></td>
  <td style="text-align:right;"><%= number_to_currency(cost.average_estimated_submitted_charges, :unit => "$") %></td>
  <td align="right"><%= number_to_currency((cost.average_estimated_submitted_charges - cost.average_total_payments), :unit => '$') %> <!--(<%#= number_to_percentage(((cost.average_estimated_submitted_charges*100)/cost.average_total_payments), :precision => 0) %>)--></td>
  <td style="text-align:right;"><%= number_to_currency(cost.apc.avg_estimated_submitted_charges, :unit => "$") %></td>
  <!--<td align="right"><%#= number_to_percentage((((cost.average_estimated_submitted_charges-cost.apc.avg_estimated_submitted_charges)*100).abs/cost.apc.avg_estimated_submitted_charges), :precision => 0) %>
    <%# if ((cost.average_estimated_submitted_charges-cost.apc.avg_estimated_submitted_charges)*100/cost.apc.avg_estimated_submitted_charges) > 0 %> higher <%# else %> lower <%# end %></td>-->
  <td><%= cost.position %> out of <%= cost.count %> <%#= number_to_percentage(cost.percentile*100, :precision => 0) %></td>
  <td><%= link_to "Details", cost, :class=>'btn btn-small' %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
<div class="span2">
<%= render "shared/ads160" %>
</div>
</div>

<div class="text-center">
<%= render "shared/ads970" %>
</div>


<script type="text/javascript">

$(document).ready(function() {

  $(function () {
    $("[rel='tooltip']").tooltip();
    $("a.link").click(function() {
      return false;
    });
  });


});

</script> 