<div class="row">
  <div class="span4">
    <h3><%= link_to @hospital.name, "http://www.google.com/search?q="+@hospital.name+"&btnI", :target => "_blank" %></h3>
    <p><%= @hospital.address %></br><%= @hospital.city %>, <%= @hospital.state %> <%= @hospital.zipcode %></p>
    <p><b>Region:</b> : <%= @hospital.referral_region %></p>
    <p><%= link_to "Data definitions and source", "#definitions" %></p>
    <p><a href="#discuss" class="btn btn-small btn-primary">Discuss <%= @hospital.name.upcase %></a></p>

  </div>
  <div class="span8">
    <div id="map-canvas"></div>
  </div>
</div>

<br/>

<table id="sortTable" class="table table-striped table-hover table-bordered">
<thead>
  <th>Description</th>
  <th>Total Discharges</th>
  <th>Average Covered Charge</th>
  <th>Average Total Payment</th>
</thead>
<tbody>
<% @costs.each do |cost| %>
<tr>
  <td><%= link_to cost.drg.description, cost.drg %></td>
  <td><%= cost.total_discharges %></td>
  <td style="text-align:right;">$<%= cost.average_covered_charges %>.00</td>
  <td align="right">$<%= cost.average_total_payments %>.00</td>
</tr>
<% end %>
</tbody>
</table>

<%= render "shared/pager" %>

<%= render "shared/disqus" %>

<%= render "shared/definitions" %>

<script type="text/javascript">
var map;
google.maps.visualRefresh = true;
function initialize() {
  var myLatLng = new google.maps.LatLng(<%= @hospital.latitude %>, <%= @hospital.longitude %>);
  var mapOptions = {
    zoom: 16,
    center: myLatLng,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    panControl: true,
    streetViewControl: true,
    overviewMapControl: true
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
  var marker = new google.maps.Marker({
      position: myLatLng,
      map: map
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
</script> 