
<div id="test" style="width:550px;height:300px;float:right;border:1px solid black"></div>


  <h3><%= @hospital.name %></h3>
  <p>
  <%= @hospital.address %></br>
  <%= @hospital.city %>, <%= @hospital.state %> <%= @hospital.zipcode %>
  </p>

  <p><b>Region:</b> : <%= @hospital.referral_region %></p>

<div style="clear:both;"></div>

<script type="text/javascript">
$( document ).ready(function() {

  $("#test").gmap3({
    getlatlng:{
      address: "<%= @hospital.address %>, <%= @hospital.city %>, <%= @hospital.state %> <%= @hospital.zipcode %>",
      callback: function(results){
        if ( !results ) return;
        $(this).gmap3({
          marker:{
            latLng:results[0].geometry.location
          }
        });
      }
    }
  });

});
</script>

<table class="table table-striped table-hover table-bordered">
<caption>Health Care Costs for <%=@hospital.name%></caption>
<thead>
  <th>Drg code</th>
  <th>Description</th>
  <th>Year</th>
  <th>Total Discharges</th>
  <th>Average Covered Charge</th>
  <th>Average Total Payment</th>
</thead>
<tbody>
<% @costs.each do |cost| %>
<tr>
  <td><%= cost.drg_code %></td>
  <td><%= cost.drg.description %></td>
  <td><%= cost.year %></td>
  <td><%= cost.total_discharges %></td>
  <td style="text-align:right;">$<%= cost.average_covered_charges %>.00</td>
  <td align="right">$<%= cost.average_total_payments %>.00</td>
</tr>
<% end %>
</tbody>
</table>
