<% title "Medical and surgery costs at "+@hospital.uc_name+", "+@hospital.city.capitalize+", "+@hospital.state %>
<% description @hospital.uc_name+' surgery costs and medicare payments. Inpatient and outpatient procedure costs. Compare hospital costs in the US' %>
<% keywords @hospital.uc_name+' hospital costs,'+@hospital.city.capitalize+' '+@hospital.state+','+"surgery costs, inpatient rates, outpatient rates, chargemaster rates, medicare rates, compare health costs, most expensive hospitals, care prices, medical billing costs, " %>

<div class="row">
  <div class="span7">
    <h1>Average Procedure Costs at <%= link_to @hospital.uc_name, "http://www.google.com/search?q="+@hospital.name+"&btnI", :target => "_blank" %></h1>
    
    <div class="row">
      <div class="span3">
        <p><b>Address</b>:<br/><%= @hospital.uc_address %></br>
        <%= @hospital.city.capitalize %>, <%= @hospital.state %> <%= @hospital.zipcode %><br/>
        <%= number_to_phone(@hospital.phone, :area_code => true) %></p>
      </div>
      <div class="span4">
        <b>Region:</b>: <%= @hospital.referral_region %><br/>
        <b>County:</b>: <%= @hospital.county %><br/>
        <b>Type:</b>: <%= @hospital.hospital_type %><br/>
        <b>Ownership:</b>: <%= @hospital.ownership %><br/>
        <b>Emergency Services:</b>: <%= @hospital.emergency.nil? ? "Yes" : "No" %><br/>

      </div>
    </div>
    <br/>
    <div class="btn-group btn-group-vertical" style="width:100%">
      <button class="btn" style="width:100%"><a href="#inpatient"><strong>Inpatient</strong> Procedure Costs - <%= @hospital.uc_name %></a></button>
      <button class="btn" style="width:100%"><a href="#outpatient"><strong>Outpatient</strong> Procedure Costs - <%= @hospital.uc_name %></a></button>
      <button class="btn" style="width:100%"><a href="#survey"><%= @hospital.uc_name %> Patient Survey Results</a></button>
      <button class="btn" style="width:100%"><a href="#discuss">Discuss <%= @hospital.uc_name %> medical billing costs</a></button>
      <button class="btn" style="width:100%"><a href="#news">News about <%= @hospital.uc_name %></a></button>
    </div><br/><br/>

<%= render "shared/share" %>

  </div>
  <div class="span5">
    <br/><div id="map-canvas"></div>
  </div>
</div>

<br/>
<div class="text-center">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0066874388719652";
/* hcc970 */
google_ad_slot = "8636594082";
google_ad_width = 970;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<a name="inpatient"></a>
<br/><br/>
<div class="row">
<div class="span10">
<h3>Inpatient Procedures</h3>
<table id="sortTable" class="table table-striped table-hover table-bordered">
<thead>
  <th data-placeholder="Type to search procedures">Diagnosis or Procedure Description</th>
  <th><a href="#" class="link" rel="tooltip" data-original-title="Average amount hospital charged for this diagnoses/procedure in 2011 over total discharges">Hospital's average charge</a></th>
  <th><a href="#" class="link" rel="tooltip" data-original-title="Difference between what this hospital charged and Medicare paid the hospital for the procedure">Markup based on medicare reimbursement</a></th>
  <th><a href="#" class="link" rel="tooltip" data-original-title="Average amount nationally charged for this DRG in 2011 over total discharges">National average charge</a></th>
  <!--<th><a href="#" class="link" rel="tooltip" data-original-title="Percentage this Hospital charged for the procedure above or below the national average">Charge compared to national average</a></th>-->
  <th><a href="#" class="link" rel="tooltip" data-original-title="How many hospitals are more expensive for this diagnosis or procedure">Hospital's Rank</a></th>
  <th>Details</th>
</thead>
<tbody>
<% @costs.each do |cost| %>
<tr>
  <td><%= link_to cost.drg.uc_description, cost.drg %></td>
  <td style="text-align:right;"><%= number_to_currency(cost.average_covered_charges, :unit => "$") %></td>
  <td align="right"><%= number_to_currency((cost.average_covered_charges - cost.average_total_payments), :unit => '$') %> <!--(<%#= number_to_percentage(((cost.average_covered_charges*100)/cost.average_total_payments), :precision => 0) %>--></td>
  <td style="text-align:right;"><%= number_to_currency(cost.drg.avg_covered_charges, :unit => "$") %></td>
  <!--<td align="right"><%#= number_to_percentage((((cost.average_covered_charges-cost.drg.avg_covered_charges)*100).abs/cost.drg.avg_covered_charges), :precision => 0) %>
    <%# if ((cost.average_covered_charges-cost.drg.avg_covered_charges)*100/cost.drg.avg_covered_charges) > 0 %> higher <%# else %> lower <%# end %></td>-->
  <td><%= cost.position %> out of <%= cost.count %></td>
  <td><%= link_to "Details", cost, :class=>'btn btn-small' %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
<div class="span2">
  <script type="text/javascript"><!--
google_ad_client = "ca-pub-0066874388719652";
/* 160vertical */
google_ad_slot = "5403926082";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
</div>

<%= render "shared/pager" %>


<a name="outpatient"></a>
<br/><br/>
<div class="row">
<div class="span10">
<h3>Outpatient Procedures</h3>
<table id="sortTable2" class="table table-striped table-hover table-bordered">
<thead>
  <th data-placeholder="Type to search procedures">Diagnosis or Procedure Description</th>
  <th><a href="#" class="link" rel="tooltip" data-original-title="Average amount hospital charged for this diagnoses/procedure in 2011 over total discharges">Hospital's Average Medical Billing for the Procedure</a></th>
  <th><a href="#" class="link" rel="tooltip" data-original-title="Difference between what this hospital charged and Medicare paid the hospital for the procedure">Hospital's Charge vs. Medicare Reimbursement Difference<!--<br/>(% Markup)--></a></th>
  <th><a href="#" class="link" rel="tooltip" data-original-title="Average amount nationally charged for this DRG in 2011 over total discharges">National Average Covered Charge for Procedure</a></th>
  <!--<th><a href="#" class="link" rel="tooltip" data-original-title="Percentage this Hospital charged for the procedure above or below the national average">Hospital's charge compared to the national average</a></th>-->
  <th><a href="#" class="link" rel="tooltip" data-original-title="How many hospitals are more expensive for this diagnosis or procedure">Hospital's Rank for this diagnosis <!--(Percent of hospitals that are more expensive)--></a></th>
  <th>Details</th>
</thead>
<tbody>
<% @apc_costs.each do |cost| %>
<tr>
  <td><%= link_to cost.apc.uc_description, cost.apc %></td>
  <td style="text-align:right;"><%= number_to_currency(cost.average_estimated_submitted_charges, :unit => "$") %></td>
  <td align="right"><%= number_to_currency((cost.average_estimated_submitted_charges - cost.average_total_payments), :unit => '$') %> <!--(<%#= number_to_percentage(((cost.average_estimated_submitted_charges*100)/cost.average_total_payments), :precision => 0) %>)--></td>
  <td style="text-align:right;"><%= number_to_currency(cost.apc.avg_estimated_submitted_charges, :unit => "$") %></td>
  <!--<td align="right"><%#= number_to_percentage((((cost.average_estimated_submitted_charges-cost.apc.avg_estimated_submitted_charges)*100).abs/cost.apc.avg_estimated_submitted_charges), :precision => 0) %>
    <%# if ((cost.average_estimated_submitted_charges-cost.apc.avg_estimated_submitted_charges)*100/cost.apc.avg_estimated_submitted_charges) > 0 %> higher <%# else %> lower <%# end %></td>-->
  <td><%= cost.position %> out of <%= cost.count %> <%#= number_to_percentage(cost.percentile*100, :precision => 0) %></td>
  <td><%= link_to "Details", cost, :class=>'btn btn-small' %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
<div class="span2">
  <script type="text/javascript"><!--
google_ad_client = "ca-pub-0066874388719652";
/* 160vertical */
google_ad_slot = "5403926082";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
</div>

<%= render "shared/pager", :pager => 2 %>


<a name="survey"></a>
<h3><%= @hospital.uc_name %> Patient Survey Results</h3>
<table id="sortTable" class="table table-striped table-hover table-bordered">
<tr>
<thead>
  <th>Question</th>
  <th>Response</th>
  <th>Sample Size</th>
  <th>Response Rate</th>
  <th>Footnote</th>
</thead>
<tbody>
<% @hcahps_metrics.each do |x| %>
  <tr>
    <td><%= x.metric_key.metric_key %></td>
    <td><%= x.value %>%</td>
    <td><%= x.sample_size %></td>
    <td><%= x.response_rate %></td>
    <td><% if !x.footnote.empty? %>
      <a href="#" class="link" rel="tooltip" data-original-title="<%=x.footnote %>"><i class="icon-comment-alt"></i></a>
      <% end %></td>
  </tr>
<% end %>
</tbody>
</table>
Data from HCAHPS (<a href="http://www.hcahpsonline.org/" target="_blank">http://www.hcahpsonline.org</a>)<br/><br/>

<h3>Discuss <%= @hospital.uc_name %>'s hospital and surgery costs</h3>
<%= render "shared/disqus" %>

<h3>News about <%= @hospital.uc_name %></h3>
<a name="news"></a>
<div id="latestNews"></div>

<div class="text-center">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0066874388719652";
/* hcc970 */
google_ad_slot = "8636594082";
google_ad_width = 970;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>


<script type="text/javascript">

$(document).ready(function() {

  $(function () {
    $("[rel='tooltip']").tooltip();
    $("a.link").click(function() {
      return false;
    });
  });

  $('#latestNews').FeedEk({
    FeedUrl : 'https://news.google.com/news/feeds?q="<%= @hospital.name %>"&ie=UTF-8&output=rss',
    MaxCount : 15,
    ShowDesc : false,
    ShowPubDate:true,
    DescCharacterLimit:100,
    TitleLinkTarget:'_blank'
  });

  loadMaps();


  // call the tablesorter plugin and apply the uitheme widget
  $("#sortTable").tablesorter({
    theme : "bootstrap",
    widthFixed: true,
    headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
    headers: { 
      //2: { sorter: false },
      4: { sorter: false },
      5: { sorter: false },
    },
    widgets : [ "uitheme", "filter", "zebra" ],
    widgetOptions : {
      zebra : ["even", "odd"],
      filter_reset : ".reset"
    }
  })
  .tablesorterPager({
    container: $("#pager"),
    cssGoto  : ".pagenum",
    removeRows: false,
    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'
  });

  //do it for apcs too

  // call the tablesorter plugin and apply the uitheme widget
  $("#sortTable2").tablesorter({
    theme : "bootstrap",
    widthFixed: true,
    headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
    headers: { 
      2: { sorter: false },
      4: { sorter: false },
      5: { sorter: false },
    },
    widgets : [ "uitheme", "filter", "zebra" ],
    widgetOptions : {
      zebra : ["even", "odd"],
      filter_reset : ".reset"
    }
  })
  .tablesorterPager({
    container: $("#pager2"),
    cssGoto  : ".pagenum",
    removeRows: false,
    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'
  });


});

function loadMaps() {
  google.load("maps", "3", {other_params:'sensor=false', "callback" : initialize});
  var map;
  google.maps.visualRefresh = true;
}

function initialize() {
  var myLatLng = new google.maps.LatLng(<%= @hospital.latitude %>, <%= @hospital.longitude %>);
  var mapOptions = {
    zoom: 16,
    center: myLatLng,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    panControl: true,
    streetViewControl: true,
    overviewMapControl: true
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
  var marker = new google.maps.Marker({
      position: myLatLng,
      map: map
  });
}

</script> 