<% title "Medical and surgery costs at "+@hospital.uc_name+", "+@hospital.city.capitalize+", "+@hospital.state %>
<% description @hospital.uc_name+' surgery costs and medicare payments. Inpatient and outpatient procedure costs. Compare hospital costs in the US' %>
<% keywords @hospital.uc_name+' hospital costs,'+@hospital.city.capitalize+' '+@hospital.state+','+"surgery costs, inpatient rates, outpatient rates, chargemaster rates, medicare rates, compare health costs, most expensive hospitals, care prices, medical billing costs, " %>

<% page_title = "Surgery and Procedure Costs at" %>
<%= render "shared/hospitals/header", :page_title => page_title  %>


<br/>
<div class="text-center">
<%= render "shared/ads970" %>
</div>

<a name="discuss"></a>
<h3>Discuss <%= @hospital.uc_name %>'s hospital and surgery costs</h3>
<%= render "shared/disqus" %>

<div class="text-center">
<%= render "shared/ads970" %>
</div>

<a name="news"></a>
<h3>News about <%= @hospital.uc_name %></h3>
<div id="latestNews"></div>



<script type="text/javascript">

$(document).ready(function() {

  $(function () {
    $("[rel='tooltip']").tooltip();
    $("a.link").click(function() {
      return false;
    });
  });

  $('#latestNews').FeedEk({
    FeedUrl : 'https://news.google.com/news/feeds?q="<%= @hospital.name %>"&ie=UTF-8&output=rss',
    MaxCount : 15,
    ShowDesc : false,
    ShowPubDate:true,
    DescCharacterLimit:100,
    TitleLinkTarget:'_blank'
  });

  initialize_map();

});

<%= render "shared/single_map" %>

</script> 