
<% title "United States Hospital Listings for Medical Procedues and Surgery Prices" %>
<% description 'Listing of American Hospitals - compare their surgery costs. Show what medicare paid for hospital bills and see how your local hospital compares by rank and percentile.' %>
<% keywords "health cover compare, chargemaster rates, billing advocate, advocate billing, doctors billing, care prices, medicare billing, surgery costs, costs of healthcare, care prices, compare health costs, most expensive hospitals, low cost hospital, healthcare costs, health care costs, surgery" %>

<br/><br/>

<div class="text-center lead" style="margin:0;">
    <i class="icon-search" style="color:#ffffff;top:-12px;position:relative;"></i> 
    <span class="input-append">
    <%= form_tag("/icd10s/search", :method => :post) do %>
    <%= text_field_tag :q, nil, :class => "input-large" %>
    <%= submit_tag "Search diagnoses by name", :class => "btn btn-primary"  %>
    <% end %>
    </span>
</div>

<% if @icd10s.empty? %>
    <h3>Sorry, no diagnoses matches "<%= params[:q] %>"</h3>
<% else %>
	<h3>Search Results for "<%= params[:q] %>"</h3>

    <ol>
	<% @icd10s.each do |icd10| %>
        <li><strong><%= icd10.description %></strong> (Diagnosis Code <%= icd10.code %>)<br/>
            <ul>
            <% icd10.drgs.each do |drg| %>
    		  <li><%= link_to drg.description.capitalize, drg %></li>
            <% end %>
            </ul>
        </li><br/>
	<% end %>
    </ol>
<% end %>