<div class="row">
  <div class="span8">
    <h1><%= page_title %> <%= link_to @hospital.uc_name, "http://www.google.com/search?q="+@hospital.name+"&btnI", :target => "_blank" %></h1>
    
    <div class="row">
      <div class="span4">
        <p><b>Address</b>:<br/><%= @hospital.uc_address %></br>
        <%= @hospital.city.capitalize %>, <%= @hospital.state %> <%= @hospital.zipcode %><br/>
        <%= number_to_phone(@hospital.phone, :area_code => true) %><br/>
        <a target="_blank" href="https://maps.google.com/maps?daddr=<%= CGI::escape(@hospital.address) %>+<%= @hospital.city %>+<%= @hospital.state %>&hl=en&mra=ls&t=m&z=11">Get Directions</a></p>

      </div>
      <div class="span4">
        <b>Region:</b> <%= @hospital.referral_region %><br/>
        <b>County:</b> <%= @hospital.county.capitalize %><br/>
        <b>Type:</b> <%= @hospital.hospital_type %><br/>
        <b>Ownership:</b> <%= @hospital.ownership %><br/>
        <b>Emergency Services:</b> <%= @hospital.emergency.nil? ? "Yes" : "No" %><br/>

      </div>
    </div>
    <br/>

    <div class="row">
      <div id="buttonWrapper" class="span4">
        <div class="btn btn-primary"><%= link_to "View #{@hospital.uc_name} Inpatient Costs", hospital_inpatient_path(@hospital) %></div>
        <div class="btn btn-primary"><%= link_to "View #{@hospital.uc_name} Outpatient Costs", hospital_outpatient_path(@hospital) %></div>
        <div class="btn btn-primary"><%= link_to "#{@hospital.uc_name} Patient Survey Results", hospital_metrics_path(@hospital) %></div>
      </div>
      <div class="span4">

        <%= link_to "Discuss #{@hospital.uc_name} Costs", hospital_path(@hospital, :anchor => 'discuss') %><br/>
        <%= link_to "Read #{@hospital.uc_name} News", hospital_path(@hospital, :anchor => 'news') %><br/><br/>
        <%= render "shared/share" %>

      </div>
    </div>

  </div>
  <div class="span4">
    <br/><div id="map-canvas"></div>
  </div>
</div>
