<% title "Medical and surgery costs for "+@organization.uc_name %>
<% description @org_name+' medical costs and medicare payments. Inpatient and outpatient procedure costs. Compare hospital costs in the US' %>

<br/>
<div class="text-center">
<%= render "shared/ads970" %>
</div>

<div class="row">
  <div class="span8">
    <h1><%= @org_name %></h1>

    <div class="row">
      <div class="span4">
          <p><%= @org_name %></p>
          <p><% @organization.addresses.each do |addr| %>
            <%= addr.address1 %>
            <%= addr.address2 %>
            <%= addr.city %>, <%= State.find(addr.state_id).abbrev %> <%= addr.zipcode %><br/>
            <a target="_blank" href="https://maps.google.com/maps?daddr=<%= CGI::escape(addr.address1) %>+<%= addr.city %>+<%= State.find(addr.state_id).abbrev %>&hl=en&mra=ls&t=m&z=11">Get Directions</a></p>
          <% end %>

      </div>
    </div>
    <br/>

    <div class="row">
      <div class="span4">

        <%= link_to "Discuss #{@org_name} Costs", organization_path(@organization, :anchor => 'discuss') %><br/>
        <%= render "shared/share" %>

      </div>
    </div>

  </div>
  <div class="span4">
    <br/><div id="map-canvas"></div>
  </div>
</div>

<p><b>Physicians</b><br/>
<% @organization.providers.sort_by{|last_name| last_name}.each do |phys| %>
	<%= link_to phys.cap_name, phys %><br/>
<% end %>
</p>

<p><b>Hospitals</b><br/>
<% @organization.providers.each do |phys| %>
  <% phys.hospitals.each do |hosp| %>
  	<%= link_to hosp.name, hosp %><br/>
  <% end %>
<% end %>
</p>

<p><b>Costs</b>

<div class="text-center">
<%= render "shared/ads970" %>
</div>


<script type="text/javascript">

$(document).ready(function() {

  $(function () {
    $("[rel='tooltip']").tooltip();
    $("a.link").click(function() {
      return false;
    });
  });

  initialize_map();

});

<%= render "shared/maps_for_orgs" %>

</script> 

