<!DOCTYPE html>
<html>
<head>
  <title>Healthcosts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><i class="icon-hospital"></i> Hospital Cost Compare</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/hospitals/">Hospitals</a></li>
              <li><a href="/drgs/">Diagnoses</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">


<%= yield %>

		</div>

</body>
</html>
