<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags :site => 'Hospital Cost Compare' %>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%#= javascript_include_tag  "https://maps.googleapis.com/maps/api/js?key=AIzaSyCImrO0fTo-g4MXqeCdmuLQ4xhajnBeo6o&sensor=false" %>
  <%= javascript_include_tag  "https://maps.googleapis.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<div id="wrap">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

        <a class="brand" href="/"><i class="icon-hospital"></i> Hospital Cost Compare</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="/hospitals/">Hospitals</a></li>
            <li><a href="/drgs/">Inpatient Procedures</a></li>
            <li><a href="/apcs/">Outpatient Procedures</a></li>
            <li><a href="/about/">About Us</a></li>
            <li><a href="https://twitter.com/HospitalCosts" target="_blank">Twitter</a>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="container">

    <%= yield %>


<div class="row">
<div class="span12 text-center">

<%= render "shared/ads970" %>

</div>
</div>

    <div id="push"></div>

  </div>
</div>
<div id="footer">
  <div class="container">
      &copy; <%= Time.now.year %> | 
      <%= link_to "Privacy Policy", privacy_path, :class => "footerlink" %> |
      <%= link_to "Terms of Use", terms_path, :class => "footerlink" %>
  </div>
</div>

</body>
</html>
